// Make sure the charset is set appropriately
@charset "UTF-8";

body {
  font-family: Arial, "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
  padding-bottom: 1em;
}

body {
  font-family: Arial, "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
  padding-bottom: 1em;
}

body,
html,
input,
select,
option,
textarea,
button,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  font-size: 16px;
}

input[type="checkbox"] + label {
	padding: 0.75em 0;
}

.circError,
.prototypeMessage {
	color: darkred;
	font-size: 0.85em;
	background-color: #FFBABA;
	border: 1px solid;
	margin: 0 0.5em 1em;
	padding: 0.5em;
}

.prototypeMessage {
	margin-top: 1em;
}

.top-bar .name h1 a {
	width: 85%;
}

.iamaPanelSubmitted {
	padding: 1em 0;

	p {
		font-size: 0.85em;
		margin-bottom: 0;
		line-height: 1.3em;
	}

	.respondingValue,
	.iamaValue {
		color: #597DA0;
	}

}

.resetButton .button {
	padding: 0.8em;
	margin: 0;
	font-size: 0.9em;
}

.circumstancesPanel {
	overflow: hidden;
	padding-top: 1em;
	border: 1px solid #1C6277;
	border-top: 0;
	margin: 0 -0.7em 2em -0.7em;

	fieldset {
		padding: 0.5em 0 0 0.4em;
		margin: 0.25em;
	}

	label {
		font-size: 1em;
	}
}

.resources {
	line-height: 1.35em;
}

.plusToggle {
	background-color: #1C6277;
	padding: 0.25em 0.5em;
	margin: 0 -0.5em;
	color: white;

	&:hover{
		cursor: pointer;
		background-color: #007BA1;
	}

}

.highUrgency,
.mediumUrgency,
.lowUrgency {
	border: 1px solid #CECECE;
	font-size: 0.9em;
	padding: 0.75em 0.5em;
	margin: 0 -1.1em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
