// Make sure the charset is set appropriately
@charset "UTF-8";
.circError {
	color: darkred;
	font-size:.85em;
	background-color: #FFBABA;
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px;
}
.top-bar .name h1 a {
	width: 85%;

}
.iamaPanelSubmitted {
	margin-top:1em;
	p {
		xmargin-top:0.5em;
		font-size:0.8em;
		line-height:0.8em;
	}
	.respondingValue,
	.iamaValue {
		color:#597DA0;
	}
}

.resetButton .button {
	padding:0.8em;
	margin:0;
	font-size:0.9em;
}

.circumstancesPanel {
	fieldset {
		padding:0.5em 0 0 0.4em;
		margin:0.25em;
		}
	label {
		font-size:.80em;
	}
}
.tipsContainer p {
	font-size:.9em;
	padding:0.15em 0.25em;
	border:1px solid #cccccc;
	margin:0.5em 0;
	background-color:#efefef;
}
.plusToggle {
	background-color: #1C6277;
	padding: 0.25em 0.5em;
	margin: 0 -0.5em;
	color: white;

	&:hover{
		background-color:#007BA1;
	}

}
.sub-nav {
	margin:1.5em 0 0 0;
}